body{
    background-color: #2e2e31!important;
    color: white!important;
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 600;
    overflow-x: hidden;
}

/* Nav Bar */


.nav-btns{
    width: 5em;
    font-size: 1.25em!important;
}

/*Menu Bar*/
.menu-bar{
    position: fixed;
    height: 100%;
    width: 10em;
    top: 0;
    z-index: 3;
}

.profile-pic{
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    background: white;
    margin: 1em;
}
.greeting{
    font-size: 0.75em;
}
.link-wrapper{
    margin-top: 2em;
    font-size: 1.75em;
}
.link-wrapper a{
    text-decoration: none;
    color: white
}

/*Article Cards, Carousels */
.trend-carousel-wrapper{
    margin-top: 5em;
    margin-left: 7em;
    margin-bottom: 10em;
}
.trend-lineup{
    display: flex;
    justify-content: space-evenly;
}



.feature-carousel-wrapper{
    position: relative;
    margin-left: 5em;
    
}

.carousel-indicators{
    margin-bottom: -4rem!important;
}

.article-card{
    width: 10em;
    height: 15em;
    background-color: gray;
    margin-bottom: 2.5em;
    justify-content: center;
    text-align: center;
}

.styles-module_carousel-arrow__26sRw{
    display: none;
}

/* Social Media */
.sm-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5em;
}
.heading{
    background-color: #232326;

}