/*Learn Home*/

.learn-nav-container{
    position: fixed;
    top: 10rem;
    left: 15rem;    
}
.learn-nav{
    position: relative;

}
.learn-nav-item{
    font-size: 25px;
    font-weight: 500;
}


/*Community Home */
.input-field-container{
    margin: 0 auto;
}
.input-fields{
    width: 500px;
    border-radius: 10px;
}
.input-fields input{
    border-radius: 5px;
    border: none;
}
.content-field{
    width: 20em;
    height: 10em;
}

#tag-field{
    position: absolute;
    width: 525px!important;
}
#tag-btn{
    background: transparent;
    border: none;
    position: relative;
    width: 50px;
    left: 475px;
}
.tag-items{
    list-style-type: none;
}
#tag-name{
    margin: 0;
    font-style: italic;
}
#cancel-tag{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 15px
}
#tag-error{
    color:rgb(231, 80, 80);
    font-size: 12px;
    margin-left: 10px;
}


/* BUILD PAGE */
#outer-xp{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid lightgray;
    background-color: #3498db;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Compiler*/
.react-codemirror2{
    color: white;
    width: 750px;
}
cm-s-material.CodeMirror{
    background-color: #1d313a;
}
textarea{
    background-color: #263238;
    color: white;
    width: 250px;
}

.active{
    font-weight: bold!important;

}

/*Roadmap Home*/
.roadmap-list{
    list-style-type:none;
}

.roadmap-card{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #385462;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.chat-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot {
    background-color: #f1f1f1;
    align-self: flex-start;
    color: black;
}

@media screen and (min-width:1024px){
    #outer-xp{
        position: relative;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid lightgray;
        background-color: #3498db;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .react-codemirror2{
        width: 600px;
        border-radius: 10px;
    }

    .chatbot-container{
        width: 375px;
        height: 350px;
        margin-top: 10em;
    }
    .chat-window{
        height: 300px;
    }
    .chat-send{
        background-color: #3498db;
        color: white;
        border-radius: 10px;
        margin: 0.5em;
    }
}

/* Profile */

.curate-options{
    width: 300px;
    height: 400px;
    position: relative;
    margin: 0 auto;
    background-color:#385462;
    border-radius:10px;
}
.roadmap-card{
    width: 300px;
    height: 200px;
    background-color: #007bff;
}

