/*Learn Home*/

.learn-nav-container{
    position: fixed;
    top: 10rem;
    left: 15rem;    
}
.learn-nav{
    position: relative;

}
.learn-nav-item{
    font-size: 25px;
    font-weight: 500;
}


/*Community Home */
.input-field-container{
    margin: 0 auto;
}
.input-fields{
    width: 500px;
    border-radius: 10px;
}
.input-fields input{
    border-radius: 5px;
    border: none;
}
.content-field{
    width: 20em;
    height: 10em;
}

#tag-field{
    position: absolute;
    width: 525px!important;
}
#tag-btn{
    background: transparent;
    border: none;
    position: relative;
    width: 50px;
    left: 475px;
}
.tag-items{
    list-style-type: none;
}
#tag-name{
    margin: 0;
    font-style: italic;
}
#cancel-tag{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 15px
}
#tag-error{
    color:rgb(231, 80, 80);
    font-size: 12px;
    margin-left: 10px;
}

/*Compiler*/
.react-codemirror2{
    background-color: #263238;
    color: white;
    width: 750px;
}
textarea{
    background-color: #263238;
    color: white;
    width: 250px;
}

.active{
    font-size:20px!important;
    font-weight: bold!important;

}

/*Roadmap Home*/
.roadmap-list{
    list-style-type:none;
}

.roadmap-card{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    background-color: #385462;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.chat-window {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.bot {
    background-color: #f1f1f1;
    align-self: flex-start;
    color: black;
}

