body{
    background-color: #2e2e31!important;
    color: white!important;
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 600;
    overflow-x: hidden;
}
.container{
    max-width: 100%;
}

a{
    color: white!important;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}

#logo{
    width: 5em;
}

/* Nav Bar */
.nav-bar{
    position: relative;
}
.nav-btns{
    width: 5em;
    font-size: 1em!important;
    margin: 0em 0.5em;
}
.main-btn{
    position: relative;
    background: transparent;

}
.control-dots{
    display: none;
}
.default{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1023px){
    .nav-btn-divs{
        font-size: 1.5vw;
        display: flex;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
    }
   
}


/*Menu Bar*/
.menu-bar-wrapper{
    position: fixed;
    width: 15%;
    height: 100%;
    z-index: 3;
    background-color: #303039;
    transition: width 0.3s ease;
}

.menu-bar-wrapper.collapsed {
    width: 80px; 
}
  
.menu-links {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 1em;
    font-size: 1em;
    transition: opacity 0.3s ease;
}
  
.menu-links.hide-links {
    opacity: 0;
    pointer-events: none;
}
  

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic{
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    background: white;
    margin: 1em;
}
.greeting{
    font-size: 0.75em;
}

#menu-btn{
    background: transparent;
    border: none;
}
#menu-btn img{
    width: 30px;
}

.link-wrapper{
    margin-top: 2em;
    font-size: 1.75em;
}
.link-wrapper a{
    text-decoration: none;
    color: white
}
.ad-space-wrapper{
    width: 100%;
    height: 250px;
    padding: 10%;
    margin-top: 2.5em;
    position: relative;
}
.ad-space{
    width: 100%;
    height: 350px;
    background-color: #40404d;
    border-radius: 10px;   
}


@media screen and (max-width: 500px){
    #logo{
        width: 5em;
    }
    .nav-wrapper{
        margin-left: 0%!important;
    }
    .nav-btn-divs{
        flex-direction: column;
    }
    .nav-bar{
        margin-left: 0em;
        left: 0%;
    }

    .main-btn{
        position: relative;
        top: unset;
        left: unset;
    }
    .menu-bar-wrapper{
        position: fixed;
        width: 100%;
        height: 15%;
        bottom: 0;
        z-index: 1;
    }
    .menu-links{
        flex-direction: row;
        margin-top: 10%;
    }
    .profile{
        display: none!important;
    }
    .link-wrapper {
        font-size: 1.75em;
        margin-top: 0em;
    }
}
@media screen and (min-width: 500px) and (max-width:1023px){
    .menu-bar-wrapper{
        width: 25%;
    }

    .link-wrapper a{
        font-size: 1em!important;
    }

    .main-content{
      padding: 0.5em!important;  
      margin: 0em 0em!important;
    }
}
@media screen and (min-width: 1024px){
    .nav-bar{
        left: 5em;
    }

    .trend-title{
        font-size: 2em!important;
    }
    .other-trend-title{
        font-size: 1.5em!important;
    }


    .feat-title{
        font-size: 1.75em!important;
    }
    .menu-links{
        font-size: 20px;
        padding: 0em;
        align-items: center;
    }
    .link-wrapper{
        margin-top: 1em;   
    }
    .link-wrapper a{ 
        font-size: 0.75em!important;
    }

}

/*Carousels*/
.carousel-indicators{
    margin-bottom: -4rem!important;
}
.carousel.carousel-slider .control-arrow{
    opacity: 100%;
}
.carousel-status{
    display: none;
}

/*Accordions*/
.accordion-button{
    background-color: #232326!important;
    color: white!important;
}
.accordion-collapse{
    background-color: #232326;
    color: white;
}
.accordion-item{
    width: 75%;
}
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.article-card{
    width: 10em;
    height: 15em;
    background-color: gray;
    margin-bottom: 2.5em;
    justify-content: center;
    text-align: center;
}

.styles-module_carousel-arrow__26sRw{
    display: none;
}
  
/*Main page */
.main-content{
    width: 100%;
    padding: 5em 0em;
}

/* Main: Trending*/
.main-post{
  
  margin: 3vw 3vw;
  flex-wrap: wrap;
  font-size: 1.5em;
  padding: 0em;
  background-color: #232326;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.mainpost-cover-wrapper{
    width: 100%;
    padding: 1em;
}
.mainpost-cover{
    width: 100%;
}

.mainpost-desc{
    padding: 0.5em;
}
.mainpost-desc p{
    font-size: 2em;
}


.trend-topics{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5em;
}

.trend-icons{
    width: 10%;
}
.news-list{
    margin-top: 1em;
}
.news-list-wrapper{
    background-color: #232326;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media screen and (max-width: 500px){
    .trend-topics{
        flex-direction: column;
    }
}

@media screen and (min-width: 1023px){
    .main-content{
        position: relative;
        padding: 1em 0em;
        margin: 0em 5em!important;
    }
    .trend-topics{
        margin-top: 1em;
        margin-bottom: 5em;
    }
    .trend-icons{
        margin: 1em;
    }
    .main-post-wrapper{
        height: 500px;
    }
    .main-post{
        margin: 0vw 2vw;
    }
    .mainpost-cover{
        width: 85%;
    }
    .mainpost-desc{
        padding: 0em;
    }
    .mainpost-desc p{
        font-size: 0.75em;
    }

    .news-list-items{
        font-size: 1.5em;
    }
    .news-list-wrapper{
        padding: 1em;
    }
       
    .post-title{
        font-size: 1.5em;
      
    }
    .post-title h4{
        font-size: 2rem;
    }
    
    .trend-topics{
        padding: 0em 5em;
    }
    .trend-title{
        font-size: 2em;
        padding: 1em;
    }
    .other-trend-title{
        font-size: 2em;
    }
  
    .trend-icons{
        width: 3.5vw;
        margin-top: 15px;
    }

}

/*Main: Featured*/
.feat-title{
    font-size: 2em;
    font-weight: 500;
}

.feature-card{
    width: 500px;
    margin-bottom: 1rem;
}
.feature-card-link{
    padding: 5em;
}
.feature-cover{
    width: 100%;
}
.feature-cover-wrapper{
    width: 20em;
}
.feature-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.featured-review-wrapper{
    width: 100%;
}
.featured-review{
    width: 75%;
    height: 15em;
    padding: 5em;
    background-color: gray;
    margin: 1em 0em;
}

@media (max-width: 500px) {
    .feature-posts {
      flex-direction: column;
    }
    .feature-posts .col-12 {
      display: flex;
      justify-content: center;
    }
}
@media screen and (min-width: 1023px) {
    .feature-cover-wrapper{
        width: 250px;
    }
    .post-title h3{
        font-size: 1em;
    }
    .feature-posts{
        padding-left: 5em;
    }
    
}


.content{
    display: flex;
    justify-content: center;
}


/*Did you know fact */
.dyk-box{
    width: 80%;
    border: 1.5px solid white;
    border-radius: 10px;
    padding: 1em;
}
#fact-image{
    width: 350px;
}
#fact{
    font-size: 1.1em;
}


/*Indie Spotlight*/
#indie-game-cover{
    width: 20em;
    height: 20em;
}
.indie-spotlight-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indie-description{
    padding: 15em;
}

@media screen and (min-width: 1024px){
    #indie-game-cover{
        width: 250px!important;
        height: 250px!important;
    }
    .indie-description{
        padding: 1.5em 10em;
        font-size: 1.25em;
    }
}

/*Articles*/
.article-cover-wrapper{
    width: 66%;
}
.article-cover{
    width: 100%;
}


/*Game Releases */
.release-titles{
    font-size: 2em;
    list-style-type: none;
}

.game-releases-cover{
    width: 5em;
}
@media screen and (min-width: 1024px){
    .game-releases{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
        padding: 0em 10em;
        gap: 25px;
    }
    .release-titles{
        background-color: #232326;
        font-size: 1.25em;
        border-radius: 10px;
    }
}

/*Itch Feed*/
.itch-game{
    width: 150px;
}
.itch-link{
    color: white;
    text-decoration: none;
}
.itch-link:hover{
    color:beige;
    cursor: pointer;

}

/*Game Dev Tips - Main & Format*/
.game-tip{
    display: flex;  
    width: 50%;
    height: 15em;
    background-color:#232326;
    margin: 0 auto;
}
.game-tips-wrapper{
    width: 75%;
    margin: 0 auto;
}

.tip-title-link{
    text-decoration: none;
    color: white;
}
.tip-title-link:hover{
    color: aquamarine;
}

.game-tip-bkgrd{
    width: 50%;
    height: 100%;
    filter: brightness(75%);
}
.game-tip-bkgrd img{
    width: 100%;
    height: 100%;
}

#tip-title {
    position: relative;
    background-color: #232326;
    width: 50%;
    padding: 30px 25px;
}

.module-menu-wrapper{
    position: relative;
    width: 100%;
    background-color: antiquewhite;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.module-menu-elements{
    width: 5em;
    height: 5em;
    border: 0.5px solid white;
}
.game-tip-content{
    position: absolute;
    height: 100%;
    width: 100%;
}
.game-tip-tob{
    border-right: 2px solid white;
    height: 100%;
    width: 25%;
    
}

/*Game Mechanics*/
.mechanic-wrapper{
    margin: 10em 0em;
    position: relative;
}

.mechanic-bkgrd-wrapper{
    max-height: 10em;
}
#mechanic-bkgrd{
    width: 75%;
    height:25em;
    position: absolute;
    z-index: 1;
    filter: brightness(40%);
    left: 10%;
}
#mechanic-text{
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
}
#mechanic-desc{
    font-size: 1.3em;
    margin-top: 3em;
}
#mech-accordion{
    width: 100%;
    margin-top: 2em;
}
.accordion-button{
    font-size: 1.25em!important;
    height: 5em;
}

@media screen and (min-width:1024px){
    .accordion-button{
        width: 75%;
        font-size: 0.66em!important;
    }
    .carousel{
        width: 80%;
    }

    #mechanic-bkgrd{
        height: 300px;
    }
    #mechanic-text{
        padding: 2.5em 5em;
    }
    #mechanic-text h3{
        font-size: 1.25em;
    }
    #mechanic-text h1{
        font-size: 2.25em;
    }
    #mechanic-text p{
        font-size: 1em;
    }

    #mech-accordion{
        margin-top: 0em;
    }
}

/*Game Jams*/
.game-jams-list{
    background-color: #232326;
    padding: 2.5em;
}
.game-jams-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}
#alakajam-logo{
    width: 175px;
    margin: 0em 2em;
}
#gamejam-info{
    margin: 0em 2em;
}
#gamejam-info h4{
    font-size: 25px;
}

#gamejam-info p{
    font-size: 20px;
}
#gamejam-info a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}


/*Modding News*/
.mod-news-wrapper{
    display: flex;
    justify-content: center;
}
.mod-news-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
}

.mod-news{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20em;
    background-color: #232326;
    border-radius: 10px;
}


.top-ten{
    position: relative;
    margin: 0 auto;
}
.top-ten-modules{
    width: 66%;
    height: 10em;
    border: 2px solid white;
    border-radius: 10px;
}

@media screen and (max-width:500px) {

    .btn.active{
        font-size: 1.2em!important;
        background-color: aqua!important;
        pointer-events: none;
    }

    .main-content{
        margin-left: 0em!important;
    }
    .featured-review{
        padding: 0em;
    }

    .article-card{
        width: 100%!important;
        height: 20em!important;
        
    }
    .article-card p{
        font-size: 1.5em;
    }


    .news-list-wrapper{
        width: 100%;
        padding: 1em;
        margin-top: 5em;
    }

    .article-cover{
        align-items: center;
        width: 100%;
    }
    .article-cover-wrapper{
        width: 75%
    }

    .main-feature-wrapper{
        margin-top: 5em;
    }

    .feature-carousel-wrapper .article-card{
        margin-left: 2em;
    }
  
    .feature-card{
        width: 100%;
        height: 25em;
    }
    .feature-card-link{
        font-size: 1.5em;
        padding: 0em;
        height: 30em;
    }

    .carousel .control-prev.control-arrow {
        left: -10px;
    }
    .carousel .control-next.control-arrow{
        right: -10px;
    } 


    .indie-spotlight-wrapper{
        margin-top: 5em;
    }
    .spotlight-header{
        font-size: 2em;
    }
    .indie-spotlight{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    #indie-game-cover{
        width: 100%;
    }
    .featured-indie-cover{
        width: 50%;
        background-color: black;
        border: 2px solid white;
    }
    


    .modernPage{
        flex-direction: column;
    }

    .post-blocks{
        width: 66%;
        height: 10em;
        background-color: #40404d;
        padding: 1em;
    }
    

    .game-tip{
        width: 75%;
        height: 15em;
        margin: 0 auto;
    }
    .game-tip li{
        text-decoration: none;
    }

    /* Logos */
    .trend-icons{
        width: 15%;
        height: 10%;
    }
    .chest-img{
        width: 75%;
        height: 15em;
        margin-top: 2em;
    }
    .sm-links{
        width: 20%;
    }

}
@media screen and (min-width:501px) and (max-width:1023px){
    .react-calendar{
        width: 450px;
      
    }
    .react-calendar abbr{
        font-size: 1.5em;
    }

    .game-jams-list{
        width: 30em;
        height: 30em;
    }
    .jam-names{
        font-size: 2.5em;
    }
}
@media screen and (min-width:1024px) {
    .react-calendar{
        width: 500px;
      
    }
    .react-calendar abbr{
        font-size: 1.5em;
    }

   
    .jam-names{
        font-size: 1.5em;
    }
}


/*Modern, Retro, Future Main post */
.era-main{
    width: 50%;
    background-color: #303039;
    padding: 1em;
    border-radius: 10%;
}

/* Modern, Retro, Future posts */
.era-posts{
    width: 50%;
    border-radius: 10px;
    background-color: #40404d;
    padding: 5em;
}

.game-art-title{
    width: 10em;
    height: 5em;
    background-color: #303039;
}


/* Modern, Retro, Future videos */
.modern-title{
    font-size: 3em;
}
.modern-long-title{
    font-size: 2.5em;
}
.game-trailer-div{
    width: 100%;
}

/*Retro Page */
.retroPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.retro-gotw{
    width: 100%;
}
.retro-gotw-title{
    font-size: 2em;
    padding: 0.5em;
    font-weight: bold;
}
.retro-feature{
    width: 100%;
}
.retro-feature-div {
    width: 100%;
    height: 100%;
}
.retro-feature-img {
    width: 100%;
}

.archive{
    width: 15em;
}
.archive-cover{
    width: 15em;
}


/* Social Media */
.sm-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5em;
}
.heading{
    background-color: #232326;

}
.sm-links{
    width: 5em;
}

/*Actual article content*/
@media screen and (max-width:500px) {

    #content{
        margin-top: 5em;
        margin-bottom: 5em;
        padding-bottom: 5em;
        border-bottom: 1px solid white;
        border-width: 50%;
    }
    #comment-field{
        width: 80%!important;
        height: 250px;
        background-color: transparent;
        border: 1px solid white;
        margin: 0 auto;
        position: relative;
    }

    .next-articles{
        margin-top: 5em;
        margin-bottom: 10em;
    }

}

#comment-field{
    width: 45%;
    height: 250px;
    background-color: transparent;
    border: 1px solid white;
    margin: 0 auto;
}

/* Sign up and Log In pages */
.input-form{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    align-items: center;
}

.info-field-wrapper{
    width: 75%;
}
.info-field{
    height: 4em;
    width: 100%;
}