body{
    background-color: #2e2e31!important;
    color: white!important;
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 600;
    overflow-x: hidden;
}

/* Nav Bar */
.nav-bar{
    margin-left: 5em;
}
.nav-btns{
    width: 5em;
    font-size: 1.25em!important;
}
.main-btn{
    position: relative;
    background: transparent;

}

/*Menu Bar*/
.menu-bar{
    position: fixed;
    height: 100%;
    width: 15em;
    top: 0;
    z-index: 3;
    background-color: #232326;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-pic{
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    background: white;
    margin: 1em;
}
.greeting{
    font-size: 0.75em;
}

.menu-links{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.link-wrapper{
    margin-top: 2em;
    font-size: 1.75em;
}
.link-wrapper a{
    text-decoration: none;
    color: white
}

@media screen and (max-width: 500px){

    .nav-bar{
        margin-left: 0em;
    }

    .main-btn{
        position: relative;
        top: unset;
        left: unset;
    }
    .menu-bar{
        top: unset;
        bottom: 0;
        height: 15%;
        width: 100%;
    }
    .menu-links{
        flex-direction: row;
    }
    .profile{
        display: none!important;
    }
    .link-wrapper {
        font-size: 2.25em;
    }
}

  
/*Article Cards, Carousels in Main */
.main-post{
  margin-top: 5em;
  flex-direction: row!important;
}
.news-list{
    margin-top: 5em;
}
.trend-topics{
    margin-bottom: 5em;
}
.mainpost-cover{
    width: 100%;
}
.mainpost-cover-wrapper{
    width: 33%;
}

.feature-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 20em;
    background-color: gray;
    
}
.feature-card-link{
    padding: 5em;
}

.carousel-indicators{
    margin-bottom: -4rem!important;
}
.carousel.carousel-slider .control-arrow:hover{
    background: none;
}
.carousel-status{
    display: none;
}

.article-card{
    width: 10em;
    height: 15em;
    background-color: gray;
    margin-bottom: 2.5em;
    justify-content: center;
    text-align: center;
}

.styles-module_carousel-arrow__26sRw{
    display: none;
}

/*Main page content*/

.main-content{
    margin-left: 10em;
}
.content{
    display: flex;
    justify-content: center;
}

.featured-review-wrapper{
    width: 100%;
}
.featured-review{
    width: 75%;
    height: 15em;
    padding: 5em;
    background-color: gray;
    margin: 1em 0em;
}

.article-cover-wrapper{
    width: 66%;
}
.article-cover{
    width: 100%;
}



.chest-img{
    width: 50%;
}

.post-blocks{
    border-radius: 10px;
}

@media screen and (max-width:500px) {
    .nav-btn-divs{
        flex-direction: column;
    }
    .btn.active{
        font-size: 1.5em!important;
        background-color: aqua!important;
        pointer-events: none;
    }

    .main-content{
        margin-left: 0em!important;
    }
    .featured-review{
        padding: 0em;
    }

    .article-card{
        width: 100%!important;
        height: 20em!important;
        
    }
    .article-card p{
        font-size: 1.5em;
    }

    .main-post{
        flex-direction: column!important;
        margin-top: 1.5em;
    }
    .mainpost-cover-wrapper{
        margin: 2em;
        width: 100%;
    }

    .article-cover{
        align-items: center;
        width: 100%;
    }
    .article-cover-wrapper{
        width: 75%
    }

    .main-feature-wrapper{
        margin-top: 5em;
    }

    .feature-carousel-wrapper .article-card{
        margin-left: 2em;
    }
    .feature-card{
        display: flex;
        flex-direction: column;
        height: 25em;
    }
    .feature-card-link{
        font-size: 1.5em;
        padding: 0em;
        height: 30em;
    }

    .carousel .control-prev.control-arrow {
        left: -10px;
    }
    .carousel .control-next.control-arrow{
        right: -10px;
    } 


    .indie-spotlight{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        margin-bottom: 5em;
    }
   
    .featured-indie-game{
        width: 50%;
        height: 15em;
        background-color: black;
        border: 2px solid white;
    }

    .modernPage{
        flex-direction: column;
    }

    .post-blocks{
        width: 66%;
        height: 10em;
        background-color: #40404d;
        padding: 1em;
    }
    

    .game-tip{
        width: 50%;
        height: 15em;
        background-color: aquamarine;
        margin: 0 auto;
    }


    /* Logos */
    .trend-icons{
        width: 25%;
        height: 10%;
    }
    .chest-img{
        width: 75%;
        height: 15em;
        margin-top: 2em;
    }

}



/*Retro Page */
.retroPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.retro-feature{
    width: 100%;
}
.retro-feature-img {
    width: 100%;
    height: 100%;
}

/* Social Media */
.sm-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 5em;
}
.heading{
    background-color: #232326;

}